{% extends 'opc_panel/base2.html' %}
{% load static %}


{% block content %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2 style="color:blue;">Create new token</h2>
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
            <form method='POST' action="{% url 'opc_pt' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class='col-sm-2'>{{ form.name.label }}</div>
                    
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <div class='col-sm-2'>{{ form.age.label }}</div>
                    {{ form.age }}
                </div>
                <div class="form-group">
                    <div class='col-sm-2'>{{ form.mobile.label }}</div>
                    {{ form.mobile }}
                </div>
                <div class='col-sm-1'></div><button type="submit" class="btn btn-default">Register</button>
            </form>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 style="color:blue;">Patient Tokens</h2>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-5'>
                            <div class="well well-sm">
                                <h2 style="color:blue;">{{ ongoing_token }}</h2>
                                <h4>On-going Token</h4>
                            </div>
                        </div>
                        <div class='col-sm-2'>
                            <a href="{% url 'opc_reset' %}" class="btn btn-info">Reset</a>
                            {% if opc.is_active %}
                                <a href="{% url 'opc_active' %}" class="btn btn-danger">Inactive</a>
                            {% else %}
                                <a href="{% url 'opc_active' %}" class="btn btn-info">Active</a>
                            {% endif %}
                        </div>
                        <div class='col-sm-5'>
                            <div class="well well-sm">
                                <h2 style="color:blue;">{{ OPCStatus }}</h2>
                                <h4>Last Pending Token</h4>
                            </div>
                      </div>
                    </div>
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Advanced Tables
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Token No.</th>
                                            <th>Patient Name</th>
                                            <th>Mobile No.</th>
                                            <th>Registered user</th>
                                            <th>PIN Verification</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in tokens %}
                                        <tr class="odd gradeX">
                                            <td>{{ i.token_no }}</td>
                                            <td>{{ i.name }}</td>
                                            <td>{{ i.mobile }}</td>
                                            {% if i.is_reg_user %}
                                                <td><span class="glyphicon glyphicon-ok"></span></td>
                                            {% else %}
                                                <td><span class="glyphicon glyphicon-remove"></span></td>
                                            {%endif%}
                                            <td>
                                                {% if i.is_reg_user %}
                                                    {% if i.is_verified %}
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    {%else%}
                                                        <form method='post' action="{% url 'opc_verify' i.id %}">
                                                            {% csrf_token %}
                                                            <div class="input-group">
                                                                <div class='col-sm-9'><input type="text" name='pin' id='pin_entry' size=10 class="form-control" /></div>
                                                                <div class='col-sm-3'>
                                                                    <span class="form-group input-group-btn">
                                                                        <button class="btn btn-default" type="submit">Verify</button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class='col-sm-6'>
                                                    <a href="{% url 'opc_done' i.id %}" class="btn btn-success">Done</a>
                                                </div>
                                                <div class='col-sm-6'>
                                                    <a href="{% url 'opc_absent' i.id %}" class="btn btn-danger">Absent</a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
{% endblock %}