{% extends 'admin_panel/base2.html' %}
{% load static %}

{% block content %}
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{doctor.name}}</h1>
                    {% if doctor.on_leave %}
                        <h4 style='color:red'>On leave from {{ doctor.on_leave.from_date }} to {{ doctor.on_leave.to_date}}({{doctor.on_leave.l_type}})</h4>
                    {% else %}
                        <h4 style='color:green'>Active</h4>
                    {% endif %}
                </div>
            </div>
            <hr />
            <div class='row'>
                <div class='col-sm-8'>
                    <div class='row'>
                        <div class='col-sm-3'><h3>Speciality:</h3></div>
                        <div class='col-sm-9'><h3>{{ doctor.speciality }}</h3></div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-3'><h3>Mobile:</h3></div>
                        <div class='col-sm-9'><h3>{{ doctor.mobile }}</h3></div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-3'><h3>Address:</h3></div>
                        <div class='col-sm-9'><h3>{{ doctor.address }}</h3></div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-3'><h3>Email:</h3></div>
                        <div class='col-sm-9'><h3>{{ doctor.user.email }}</h3></div>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <img src="{% static 'admin/img/find_user.png' %}" class="user-image img-responsive" alt="find_user">
                </div>
            </div>
            <div class="row" style='padding:20px'>
                <div class="col-md-4">
                    <div class="well well-sm">
                        <h2>{{ doctor.p_leave }}</h2>
                        <h4>Privilege leave left</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well well-sm">
                        <h2>{{ doctor.med_leave }}</h2>
                        <h4>Medical leave left</h4>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="well well-sm">
                        <h2>{{ doctor.cs_leave }}</h2>
                        <h4>Casual leave left</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}