{% extends 'base.html' %}
{% load static %}

{% block body %}
    
    <!-- BEGAIN PRELOADER -->
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-heartbeat"></i></a>
    <!-- END SCROLL TOP BUTTON -->

    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">  
          <div class="container">
            <div class="navbar-header">
              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- LOGO -->              
              <!-- TEXT BASED LOGO -->
              <a class="navbar-brand" href="index.html"><i class="fa fa-heartbeat"></i>WpF <span>Medinova</span></a>              
              <!-- IMG BASED LOGO  -->
              <!--  <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>   -->                    
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                
                {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
              </ul>           
            </div><!--/.nav-collapse -->
          </div>
        </nav>  
      </div>
      <!-- END MENU -->    
    </header>
    <!--=========== END HEADER SECTION ================-->   
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="service-area">
              <div class="service-content" style='padding:100px'>
                <div class="row" style='padding:20px'>
                    <h1 style='color:green'>Your token for Outpatient department has create successfully.</h1>
                </div>
                <div class="row" style='padding:20px'>
                    <h2>Your Token No. is {{ ptoken.token_no }}</h2>
                </div>
                <div class="row" style='padding:20px'>
                    <h2>Your Entry PIN No. is {{ ptoken.otp }}</h2>
                </div>
                <h5>*Note: Absence of patient during the token call will consequently invalidate the token.</h5>
                <h5>*Note: Patient can't be entered in the clinic without entry pin number.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
    